<h1><%=@question.title%></h1>


<p>
  <time datetime="<%= @question.formatted_created_at %>">
    <%= @question.formatted_created_at %> <!-- formatted_created_at это метод из модели -->
  </time>
  <br>
  <%= @question.body %>
</p>


<p><%= link_to 'Show', question_path(@question.id) %></p>
<p><%= link_to 'Edit', edit_question_path(@question.id) %></p>
<p><%= link_to 'Destroy?',question_path(@question.id), data: {method: :delete, confirm:'точно?'}%></p>


<h2> Write your answer </h2>

<%= render 'questions/errors' , object: @answer %>

<%= form_with model: [@question, @answer] do |f| %>

  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Submit answer!" %>


<% end %>

<% @answers.each do |answer| %>
  <time datetime="<%= answer.formatted_created_at %>">
    <br>
    <%= answer.formatted_created_at %> <!-- formatted_created_at это метод из модели -->
  </time>

  <p>
    <%= answer.body %>
  </p>


  <%= link_to 'Удалить?' , question_answer_path(@question, answer),
   data: {method: :delete, confirm: "вы уверенны?" } %>

  <br>
  <br>

<% end %>












<!--<%# @answer.inspect %> -->
