<!DOCTYPE html>
<html>
  <head>
    <title>TestRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Question', questions_path %></li>
      </ul>
  </nav>

  <main>
    <% flash.each do |k,v| %>  <!-- позволяет показывать текст из хеша у флеша контроллера -->
      <%= k.to_s + " " + v %>
    <% end %>
  </main>

    <%= yield %>
  </body>
</html>
